---
# Front matter comment to ensure Jekyll properly reads file.
---

@import 'modern-resume-theme';

 .header-contianer .title::before {
    content: '';
  }

  .header-contianer .title {
    white-space: pre-line;
  }

  /* | を改行に変換 */
  .header-contianer .title::after {
    content: '';
  }

